.news-card {
  border: none;
  border-radius: 0;
  width: 320px;
  cursor: pointer;
}

.news-card .card-img-top {
  border-radius: 0;
}

.news-card .card-title {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #1e1e1e;
}

.news-card .card-text {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 28px;
  color: #888;
}


@media screen and (max-width: 400px) {
  .news-card {
    width: 270px;
  }
}
