.after-coin-significance {
  position: relative;
  width: 100%;
  display: flex;
  margin-bottom: 130px;
}
.after-coin-significance .details {
  width: 32%;
  margin: auto;
  margin-right: 7%;
}
.after-coin-significance h2 {
  font-size: 16px;
}
.after-coin-significance p {
  max-width: 460px;
  line-height: 28px;
  margin-bottom: 30px;
}

.after-coin-significance img {
  width: 800px;
  height: 940px;
}

.after-coin-significance .details li {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  padding-bottom: 20px;
  list-style-type: none;
}

.after-coin-significance .details li::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  top: 4px;
  left: -30px;
}


.after-coin-significance .details li::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--primary-color);
  box-shadow: 0px 0px 14px var(--primary-colors);
  border-radius: 50%;
  top: 9px;
  left: -25px;
}

/* Media Queries */

@media screen and (max-width: 992px) {
  .after-coin-significance {
    display: block;
    text-align: left;
    width: 90%;
    margin-inline: auto;
  }

  .after-coin-significance img {
    width: 95%;
    height: auto;
  }

  .after-coin-significance .details {
    width: 100%;
  }
  .after-coin-significance p {
    max-width: auto;
    padding-bottom: 40px;
  }
  .after-coin-significance .details {
    margin-right: 0;
  }
}

@media screen and (max-width: 992px) {
  .after-coin-significance h3 {
    font-size: 80px;
    line-height: 74px;
  }
}
